.table-form {
    width: 100%;
}

.label {
    margin-right: 10px;
}

.al-center {
    align-items: center;
}

.m-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.w-40p {
    width: 40%;
}

.wrapper-button-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-form {
    margin-right: 20px;
}